<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/form.css">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/table.css">
    <link rel="stylesheet" href="/css/default.css">
    <link rel="stylesheet" href="/css/edit.css">
    <link rel="stylesheet" href="/css/nav.css">
    <title>Document</title>
</head>
<body>
    <div class="main-block">
        {{>nav}}
        <h1>Cars</h1>
        <form action="/cars" method="POST">
            <label for="">Brand</label>
            <input type="text" name="brand" id="model">
            <label for="">Color</label>
            <input type="text" name="color" id="">
            <label for="">Description</label>
            <input type="text" name="description" id="">
            <label for="">Cost</label>
            <input type="text" name="cost" id="">
            <label for="">Branch</label>
            <select name="BranchId" id="">
                {{#each branches}}
                    <option value="{{this.id}}">{{this.city}}, {{this.adress}}</option>
                {{/each}}
            </select>
            <button type="submit" id="add-btn">Add</button>
        </form>
        <table border="1">
            <tr>
                <td>ID</td>
                <td>BranchID</td>
                <td>Brand</td>
                <td>Color</td>
                <td>Description</td>
                <td>Actions</td>
            </tr>
            {{#each cars}}
                <tr>
                    <td>{{this.id}}</td>
                    <td>{{this.BranchId}}</td>
                    <td>{{this.brand}}</td>
                    <td>{{this.color}}</td>
                    <td>{{this.description}}</td>
                    <td>
                        <button id="delete-btn" data-id="{{this.id}}" data-url="/cars">Delete</button>
                        <button id="edit-btn" class="edit-btn" data-entity="cars" data-id="{{this.id}}" data-path="/cars">Edit</button>
                    </td>
                </tr> 
            {{/each}}
        </table>
    </div>

    <div style="text-align: center" id="popupWin" class="modalwin">
        <h2>Edit</h2>
        <form>
            <label for="">Brand</label>
            <input value="" class="editInputs" data-field="brand">
            <label for="">Color</label>
            <input type="text" name="" id="" class="editInputs" data-field="color">
            <label for="">Description</label>
            <input type="text" name="" id="" class="editInputs" data-field="description">
            <label for="">Cost</label>
            <input type="text" name="" id="" class="editInputs" data-field="cost">
            <label for="">Branch</label>
            <select data-field="BranchId" class="editInputs" name="BranchId" id="">
                {{#each branches}}
                    <option class="option" value="{{this.id}}">{{this.city}}, {{this.adress}}</option>
                {{/each}}
            </select>
            <button id="save-btn" type="submit" data-id="">Save</button>
        </form>

    </div> 


    <script src="/js/delete-btn.js"></script>
    <script src="/js/edit-btn.js"></script>
</body>
</html>