<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/form.css">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/table.css">
    <link rel="stylesheet" href="/css/default.css">
    <link rel="stylesheet" href="/css/edit.css">
    <link rel="stylesheet" href="/css/nav.css">
    <title>Document</title>
</head>
<body>
    <div class="main-block">
        {{>nav}}
        <h1>Deals Info</h1>
        <form action="/dealsinfo" method="POST">
            <label for="">DealID</label>
            <select name="DealId" id="">
                {{#each deals}}
                    <option value="{{this.id}}">ID: {{this.id}}</option>
                {{/each}}
            </select>
            <label for="">Agent</label>
            <select name="AgentId" id="">
                {{#each agents}}
                    <option value="{{this.id}}">{{this.surname}}, {{this.firstName}}, {{this.secondName}}</option>
                {{/each}}
            </select>
            <label for="">Branch</label>
            <select name="BranchId" id="">
                {{#each branches}}
                    <option value="{{this.id}}">{{this.city}}, {{this.adress}}</option>
                {{/each}}
            </select>
            <label for="">Status</label>
            <select name="DealStatusId" id="">
                {{#each dealsStatus}}
                    <option value="{{this.id}}">{{this.status}}</option>
                {{/each}}
            </select>
            <button type="submit" id="add-btn">Add</button>
        </form>
        <table border="1">
            <tr>
                <td>ID</td>
                <td>AgentID</td>
                <td>BranchID</td>
                <td>Date</td>
                <td>StatusID</td>
                <td>Actions</td>
            </tr>
            {{#each dealsInfo}}
                <tr>
                    <td>{{this.id}}</td>
                    <td>{{this.AgentId}}</td>
                    <td>{{this.BranchId}}</td>
                    <td>{{this.date}}</td>
                    <td>{{this.DealStatusId}}</td>
                    <td>
                        <button id="delete-btn" data-id="{{this.id}}" data-url="/dealsinfo">Delete</button>
                        <button id="edit-btn" class="edit-btn" data-entity="deal" data-id="{{this.id}}" data-path="/dealsinfo">Edit</button>
                    </td>
                </tr> 
            {{/each}}
        </table>
    </div>

    <div style="text-align: center" id="popupWin" class="modalwin">
        <h2>Edit</h2>
        <form>
            <label for="">DealID</label>
            <select data-field="DealId" class="editInputs" name="DealId" id="">
                {{#each deals}}
                    <option class="option" value="{{this.id}}">ID: {{this.id}}</option>
                {{/each}}
            </select>
            <label for="">AgentID</label>
            <select data-field="AgentId" class="editInputs" name="AgentId" id="">
                {{#each agents}}
                    <option class="option" value="{{this.id}}">{{this.surname}}, {{this.firstName}}, {{this.secondName}}</option>
                {{/each}}
            </select>
            <label for="">BranchID</label>
            <select data-field="BranchId" class="editInputs" name="BranchId" id="">
                {{#each branches}}
                    <option class="option" value="{{this.id}}">{{this.city}}, {{this.adress}}</option>
                {{/each}}
            </select>
            <label for="">Status</label>
            <select data-field="DealStatusId" class="editInputs" name="DealStatusId" id="">
                {{#each dealsStatus}}
                    <option class="option" value="{{this.id}}">{{this.status}}</option>
                {{/each}}
            </select>
            <button id="save-btn" type="submit" data-id="">Save</button>
        </form>

    </div> 


    <script src="/js/delete-btn.js"></script>
    <script src="/js/edit-btn.js"></script>
</body>
</html>